In [ ]:
#### 引入套件
import pymysql

#### 資料庫參數
username = 'root'
password = 'your_password'
host = 'localhost'
port = '3306'
new_db_name = 'Project_Test'
table_name = 'table_b'

In [1]:
#### 資料庫連線函式
def Connection():
    conn = pymysql.connect(host=host, port=int(port), user=username,
                           passwd=password, charset='utf8', db=new_db_name)
    cursor = conn.cursor()
    return conn, cursor

In [2]:
'''
建立資料表
欄位常用型態：int, char(n), float, boolean, timestamp
not null：不能為空值
auto_increment：欄位值會自動加一
primary key：為該張表不會重複的流水號
若資料表存在會刪除後再建立
'''
sql = "CREATE TABLE table_name( \
                    col1 int not null auto_increment primary key, \
                    col2 char(25), col3 float, \
                    col4 boolean, col5 timestamp)"

In [3]:
'''
新增資料
一次新增一筆（ROW）
col1 為 not null auto_increment primary key，欄位不必列出，系統會自動生成
'''
sql = "INSERT INTO table_name \
                    (col2,col3,col4,col5) values ('pi',3.14,TRUE,'20210101')"

In [4]:
'''
查詢資料
'''
sql = "SELECT col1, col2 FROM table_name"

In [5]:
'''
更新資料
'''
sql = "UPDATE table_name set col2='b' where col1=1"

In [6]:
'''
刪除資料
'''
sql = "DELETE FROM table_name where col4=TRUE"

In [ ]:
#### 根據不同需求，執行主程式
conn, cursor = Connection() # 資料庫連線
cursor.execute(sql)
data = cursor.fetchall()
print(data) # 查詢修改後的資料
conn.commit()
cursor.close()
conn.close()